/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colores */
    --first-color: lightgrey;
    --bg-color: rgb(251, 247, 242);
    --sub-color: black;
    --white-color: coral;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: coral;
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}


/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 10fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.collapse__sublink:hover {
    color: var(--white-color);
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}	



















	
*{
	margin:0;
	padding:0;
}



header{
	
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(251, 247, 242);
}

nav2{
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.navbar_logo1{
	  margin-left:60px;
      font-size: 38px;
      color: coral;
      font-family: 'Black Han Sans', sans-serif;
}

.navbar{
	margin:0;
	padding:0;
}

.navbar_search input{
      width: 400px;
      border-color: #bbb;
      border-radius: 10px;
      border-width: 1px;
      padding: 12px 0 5px 0;
      margin: 6px;
      border: 1px solid lightgray;
}

.navbar_search i {
      position: absolute;
      left: 7%;
      top: 35%;
      font-size: 18px;
      color: rgb(90, 99, 107);
}

.navbar_search {
      align-items: center;
      position: relative;
}

.navbar_button button{
      margin: 0 10px;
      padding: 8px 20px;
      border: 0;
      background-color: coral;
      border-radius: 15px;
      font-weight: 600;
      color: white;
      font-size: 16px;
}

main{
      width: 100%;
      margin-top: 100px;
      margin-left: 670px;
      justify-content: center;
      display: inline-block;
}

